html{
    font-size: 80%;
}

body{
    margin-bottom: 10em;
}

#menu{
    position: fixed;
    text-align: center; 
    bottom:0;
    width: 100%;
}

#menu h2{
    display: none;
}

#menu ul li a{
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    text-indent: -999999em;
    background-position: center;
    background-size: 50%;
}

#menu #home{
    background-image: url(../icon/icons8-home-page-60_nera.png); 
}

#menu #home.active{
    background-image: url(../icon/icons8-home-page-60_bianca.png);
}

#menu #info{
    background-image: url(../icon/icons8-info-quadrato-60_nera.png); 
}

#menu #info.active{
    background-image: url(../icon/icons8-info-quadrato-60_bianca.png);
}

#menu #comprensorio{
    background-image: url(../icon/icons8-sci-60_nera.png);
}

#menu #comprensorio.active{
    background-image: url(../icon/icons8-sci-60_bianca.png);
}

#menu #mappaIcon{
    display: none;
}

#menu #shop{
    background-image: url(../icon/icons8-biglietto-60_nera.png);
}

#menu #shop.active{
    background-image: url(../icon/icons8-biglietto-60_bianca.png);
}

#menu #bus{
    background-image: url(../icon/icons8-autobus-60_nera.png);
}

#menu #bus.active{
    background-image: url(../icon/icons8-autobus-60_bianca.png);
}

#menu #login{
    background-image: url(../icon/icons8-login-arrotondato-60_nera.png);
}

#menu #login.active.right{
    background-image: url(../icon/icons8-login-arrotondato-60_bianca.png);
}

#menu #logout{
    background-image: url(../icon/icons8-logout-arrotondato-sinistra-60_nera.png);
}

a.linkScroll{
    bottom: 7.5rem;
}

#mappaNascosta{
    display: block;
    margin-bottom: 2em;
}