html{
    font-size: 80%;
    height: unset;
}

body{
    display: block;
	min-height: calc(100% - 4em);
    padding-bottom: 3.8em;
}

/*#breadcrumb{
    width: 100%;
}*/
header{
    padding: 1em;
}
header h1{
    margin:0
}
#menu{
    position: fixed;
    text-align: center; 
    bottom:0;
    width: 100%;
}

#menu h2{
    display: none;
}

#menu ul li a{
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    text-indent: -999999em;
    background-position: center;
    background-size: 50%;
}

#menu #home{
    background-image: url(../icon/icons8-home-page-60_nera.png); 
}

#menu #home.active{
    background-image: url(../icon/icons8-home-page-60_bianca.png);
}

#menu #info{
    background-image: url(../icon/icons8-info-quadrato-60_nera.png); 
}

#menu #info.active{
    background-image: url(../icon/icons8-info-quadrato-60_bianca.png);
}

#menu #comprensorio{
    background-image: url(../icon/icons8-sci-60_nera.png);
}

#menu #comprensorio.active{
    background-image: url(../icon/icons8-sci-60_bianca.png);
}

#menu #mappaIcon{
    display: none;
}

#menu #shop{
    background-image: url(../icon/icons8-biglietto-60_nera.png);
}

#menu #shop.active{
    background-image: url(../icon/icons8-biglietto-60_bianca.png);
}

#menu #come-raggiungerci{
    background-image: url(../icon/icons8-autobus-60_nera.png);
}

#menu #come-raggiungerci.active{
    background-image: url(../icon/icons8-autobus-60_bianca.png);
}

#menu #login{
    background-image: url(../icon/icons8-login-arrotondato-60_nera.png);
}

#menu #login.active.right{
    background-image: url(../icon/icons8-login-arrotondato-60_bianca.png);
}

#menu #logout{
    background-image: url(../icon/icons8-logout-arrotondato-sinistra-60_nera.png);
}

#menu #dashboard{
    display: none;
}

a.linkScroll{
    bottom: 5em;
    width: 3em;
    height: 3em;
}

footer{
    
	/*position: static;*/
	/*bottom: 0px;*/
	width: auto;
}

#mappaNascosta{
    display: block;
    margin-bottom: 2em;
}

#gridHome{
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}

#grid1Text{
	grid-column: 1;
	grid-row: 1;
	padding: 2.5em;
    width: 60%;
}

#grid1Img{
	grid-column: 2;
	grid-row: 1;
	width: 60%;
}

#grid2Text{
	grid-column: 1/3;
	grid-row: 3;
    width: 90%;
}

#grid2Img1{
	grid-column: 1/3;
	grid-row: 2;
}

#grid2Img2{
	grid-column: 1/3;
	grid-row: 4;
}

#grid3Text{
	grid-column: 2;
	grid-row: 5;
	padding: 1.5em;
    width: 70%;
}

#grid3Img{
	grid-column: 1;
	grid-row: 5;
}

th,td{
    padding: 0;
    height: 4em;
}

#content{
    padding-top: 1em;
    margin-top: -1em;
    padding-left: 1em;
    padding-right: 1em;
    width: unset;
}

/**========TABELLA PREZZI==========*/

#tabella-prezzi, #tabella-prezzi tbody, #tabella-prezzi th, #tabella-prezzi td, #tabella-prezzi tr {
    display: block;

}
#tabella-prezzi thead, #tabella-prezzi tfoot {
    display: none;
}
#tabella-prezzi tr{
    height: auto;
}
#tabella-prezzi th, #tabella-prezzi td{
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;
}

#tabella-prezzi th {
    background-color:#CCC;
}
#tabella-prezzi td {
    /*position: relative;*/
    text-align: left;
}
/*Label the data*/
#tabella-prezzi td[data-title]:before {
    content: attr(data-title)":\00A0";
    display: inline-block;
    width: 50%;
    text-align: right;
    font-weight: bold;
    padding-right: .5em;
}

/*======================
    Modifica comprensorio
========================*/

#cambia-descrizione input[type="submit"]{
    width : 80%;
    margin: .1em 10%;
}
