:root {
	--grigietto: #cee9ff;
	--nero: #000000;
	--bianco: #FFFFFF;
	--blu: #152b5a;
	--blu1: #25468d;
	--azz1: #4da5e0;
	--azz2: #62a9ec;
}

* {
	padding: 0;
	margin: 0;
}

html{
	font-size: 100%;
	font-family: "Helvetica", sans-serif;
	margin: auto;
	/*background-color: #cee9ff;
	/*max-width: 1024px;*/
	scroll-behavior: smooth;
	height: 100%;
}
@media (prefers-reduced-motion: reduce) {
	html{
		scroll-behavior: auto;
	}
}

body{
	color : black;
	background: center / cover no-repeat url("../img/funiviaSfondo.jpg");
	background-attachment: fixed;
	min-height: 100%;

	/*padding-bottom: 2.5em;*/

	overflow-y: scroll;

	display: flex;
	flex-direction: column;
}
/*#content{
	min-height: 100% ;
}*/

.warning-message{
	color: darkred;
	text-align: center;
	font-size: 120%;
}
.warning-message::before, .warning-message::after{
	content: "\26A0";
	padding: 0 .5em;
}
.error-message{
	color: darkred;
}
.success-message{
	color: darkgreen;
}

/*--------------------------------
	Header, navbar e breadcrumb
--------------------------------*/
a.skip-nav{
	position: absolute;
	left: 5px;
	transform: translateY(-120%);
	padding: .5rem;
	border-radius: 0 0 .25rem .25rem;
	background-color: black;
	transition: transform 325ms;
	color: #cee9ff;
}

a.skip-nav:focus{
	transform: translateY(0);
}

header{
    text-align: center;
	background-color: #cee9ff;
	/*position: sticky;
	top: 0;*/
}
header h1:hover:not(.noAnimation){
	transform: scale(.9);
}

header h1{
	padding: .7rem;
	display: inline-block;
	line-height: 101;
	overflow: hidden;
	
	font-family: "Bradley Hand ITC",sans-serif ;
	/*transform: rotate(5deg);*/
    margin: .7rem;
	height: 3rem;

	background-image: url("../img/Logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	-webkit-transition: transform 0.3s ease-in-out;
  	transition: transform 0.3s ease-in-out;
	font-size: 3em;

}
h1 a{
	text-decoration: none;
	color: #000;
}


#sticky {
	position: relative;
	margin-bottom:1em;
	box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.2);
}
@supports (position: sticky) or (position: -webkit-sticky){
	#sticky{
		position:-webkit-sticky;
		position: sticky;
		top: 0;
	}
}




#menu{
	box-sizing: border-box;

	display:flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.1em;
	background-color:#4da5e0;

	
}

#menu h2{
	text-indent: -99999999999em;
	display: block;
	overflow: hidden;
	background-image: url("../icon/icons8-mountain-96.png");
	background-repeat: no-repeat;
	background-size: 75px;
	background-position: center center;

	width: 90px;
	height: 90px;

}

#menu ul{
	display:flex;
	align-items: center;

	width: 100%;
	height: 100%;
}

#menu ul li{
	display: block;
	list-style:none;
}


#menu ul li a{
	text-decoration: none;
	text-align: center;
	padding: .6em;
	display: flex;
	color: black;
	height: 2.5em;
	justify-content: center;
	align-items: center;
	border: solid #152b5a;
	border-radius: 10px;
	margin: 0 .2em 0;
	background-color: #4da5e0;
}

#menu ul li a:visited{
	border: none;
	background-color: #6db0f0;
}


/* Links del menu*/
#menu a.active{
	background-color: #152b5a;
	color: white;
}

#menu a:hover:not(.active) {
	background-color: #c6e4ff;
}

/* Allinea a destra Login e Dashboard */
#menu li.right{
	margin-left: auto;
}

.spanFlex{
	margin-left: 0.4em;
}


.pulsanteMenu{
	cursor: pointer;
	position: absolute;
	top: .8rem;
	right: 1rem;
	display: none;
	width: 50px;
	height: 50px;
}
.pulsanteMenu button{
	color: inherit;
	background-color: inherit;
	width: inherit;
	height: inherit;
	padding:0;
	margin:0;
}
.pulsanteMenu span.barra{
	height: 6px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
	display: block;
	margin: 10px 0px 10px;
}

#menu ul.active{display: flex;}


#breadcrumb{
	margin: 0;
    font-size: 1.1em;
	padding: 0.3em 1.3em;
	background-color:white;
	color:black;
	text-align: left;
}

#breadcrumb a:link{
	color: #25468d;
}

#breadcrumb a:visited{
	color: #152b5a;
}

/*=======================
	Generali
=======================*/
ol > li{
	margin-left:2em;
}

#content{
	margin:auto;
	max-width: 1264px;
	height: 100%; /*Fixa FLEX in IE*/

	margin-top: -8em;
	padding: 8em 3em 1em;

	box-shadow:0 0 15px 4px rgba(0,0,0,0.2);

	background: #cee9ff;

	width: 80%;

}

#content>p{
	padding: 10px;;
}


.pageTitle{
	margin:auto;
	text-align: center;
	font-weight: bold;
}
.centerImg {
	display: block;
	margin: auto;
}


img{
	max-width: 100%;
	width: auto;
	height: auto;
}

/*-------------------------------
	Chi Siamo
-------------------------------*/
.chisiamoDiv{
	padding: 2rem;
	margin:.5rem;
	border: 1px solid #152b5a;
	border-radius: 5px;
}

.gridChiSiamo{
	display: -ms-grid;
	display: grid;

	-ms-grid-columns: 1fr 3fr;
	-ms-grid-rows: 2em 1fr 1fr 1fr;

	grid-template-columns:1fr 3fr;
	grid-template-rows: 1em 1fr 1fr 1fr;
	grid-gap: 35px;
	justify-content: center;
}
.gridChiSiamo h3{
	-ms-grid-column:1;
	-ms-grid-column-span:2;
	-ms-grid-row: 1;

	grid-column: 1 / span 2;
	grid-row: 1;
}

.gridChiSiamo p{
	-ms-grid-column:2;

	grid-column: 2;
	margin: auto 0 auto;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS here */
	.gridChiSiamo p{
		
		display: table;
		margin: 40% 0 0 35px;
	}
}
.gridChiSiamo p:nth-of-type(1){-ms-grid-row: 2;}
.gridChiSiamo p:nth-of-type(2){-ms-grid-row: 3;}
.gridChiSiamo p:nth-of-type(3){-ms-grid-row: 4;}

.gridChiSiamo figure{
	-ms-grid-column:1;
}
.gridChiSiamo figure:nth-of-type(1){-ms-grid-row: 2;}
.gridChiSiamo figure:nth-of-type(2){-ms-grid-row: 3;}
.gridChiSiamo figure:nth-of-type(3){-ms-grid-row: 4;}

figcaption.centerImg {
	margin: auto;
	width: 70%;
	padding: 5px;
	font-weight: lighter;
	font-size: 0.9em;
}

/*--------------------------------
	Home
--------------------------------*/
.homeTextElement{
	background-color: #4da5e0;
	text-align: center;
	border: 3px solid #152b5a;
	color: #000

}

blockquote {
	background: #4da5e0;
	border-left: 10px solid #152b5a;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: #152b5a;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

#gridHome{
	display: -ms-grid;
	display: grid;

	-ms-grid-columns:1fr 1fr 1fr 1fr;
	-ms-grid-rows:3fr 4fr 5fr;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"r1c1 r1c2 r1c3 r1c4"
		"r2c1 r2c2 r2c3 r2c4"
		"r3c1 r3c2 r3c3 r3c4";
	grid-gap: 35px;
	justify-content: center;
	margin: 2rem;

}


#grid1Text{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;

	grid-column: r1c1/r1c2;
	grid-row: 1;
	margin: auto;

	border-radius: 1000px;
	padding: 2em;
}

#grid1Img{
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	-ms-grid-column-span: 2;

	grid-column: r1c3/r1c4;
	grid-row: 1;
	margin: auto;
	width: 50%;
}

#grid2Text{
	-ms-grid-row: 2;
	-ms-grid-column: 3;
	-ms-grid-column-span: 2;

	grid-column: r2c3/r2c4;
	grid-row: 2;
	margin: auto;

	border-radius: 10px;
	padding: .7rem;
}

#grid2Img1{
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;

	grid-column: r2c1 / r2c2;
	grid-row: 2;
	margin: auto;
}

#grid3Text{
	-ms-grid-row: 3;
	-ms-grid-column: 1;

	grid-column: r3c1;
	grid-row: 3;
	margin: auto;

	border-radius: 1000px;
	padding: 3em;
	text-align: center;
}

#grid3Img{
	-ms-grid-row: 3;
	-ms-grid-column: 2;
	-ms-grid-column-span: 3;

	grid-column: r3c2/r3c4;
	grid-row: 3;
	margin: auto;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS here */
	#gridHome > div{
		margin: 15px;
	}
	#gridHome > img{
		padding: 15px;
	}
}

/*--------------------------------
	Login/Register/Forms
--------------------------------*/
.formInput{
	margin: 1.5em auto auto;
	text-align: center;
	width: 100%;
}

.formInput>p{
	margin-bottom: 0.7em;
}
.formInput label{
	font-size: 0.8rem;
	display: block;
	
}
input[type=text], input[type=password] {
	box-sizing: border-box;
	border:0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.2);

	width: 50%;
	padding: 0.5em;
	margin: 0.3rem 0 1rem;
}

/*
input[type=text]:hover{
	transition: .3s --grigietto;
}*/

input, button{
	font-size: inherit;
	font-family: inherit; 
}
button, input[type=button]{
	cursor: pointer;
}

#btnConfirm:hover{
	background-color: #25468d;
}
button {
	/* Rimuove apparenza di default 
	*/appearance:none;
	-webkit-appearance:none;
	
	/*padding:10px;*/
	margin:10px;
	border:none;
	background-color:#152b5a;
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:50%;
	height: 50px;
  
	vertical-align: middle;
}

button:disabled{
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;

	cursor: default;
  
}
/*--------------------------------
	Logout
--------------------------------*/
.msgLogout{
	text-align: center;
	font-size: 2em;
	padding-top: 1em;
}
/*--------------------------------
	Tabelle
--------------------------------*/
table{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 0.5em;
}

thead *{
	background-color: #62a9ec;
}

tr:nth-child(even) {background: #E0E0E0}
tr:nth-child(odd) {background: #FFF}

table{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

/*--------------------------------
	Dettagli
--------------------------------*/
.pista{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
	border: 1px solid black;
	border-radius: 10px;
}

.pista h4{
	padding: 0.5em;
	font-size: 2em;
	border-bottom: 1px solid black;
	
	margin-top: -4em;
	padding-top: 4em;
}

.pista div{
	display: table-cell;
	padding: 0.5em;
}

.pista div.dati{
	width: 30%;
	border-right: 1px solid black;
}

.pista div.descrizione{
	width: 70%;
}

/*--------------------------------
	SHOP
--------------------------------*/

#link-carrello{
	display: table;

	text-decoration: none;

	padding: .4em;
	border-radius: 5px;

	margin-left: auto;


	background-color: #152b5a;
	color:white;

}
@media screen and (min-width: 700px) {
	#link-carrello{
		margin-bottom:-32px;
		margin-right: calc(30% - 200px);
	}
}
#link-carrello span{
	font-size: 150%;
	font-weight: bold;

	vertical-align:super;
}
#link-carrello img{
	width:32px;
	height:32px;
}
#link-carrello.carrello-nascosto{
	display: none;
}


#form-shop{
	margin: auto;
	max-width: max(400px,50%);
	margin-bottom: 3em;
}


#radio-group-durata{
	text-indent: 1em;
	margin-bottom: 1em;
}

#form-shop fieldset{
	padding: .5em;
	margin-bottom: .5em;
	
	border-radius: 15px;
	border-style: inset;
	border-width: 2px;
}
#form-shop legend{
	margin-left: 1em;
}

#fs_num_skip>div{
	margin: .5em 0 .5em 0;
}
#fs_num_skip label{
	display: inline-block;
	width: 4em;
}

.custom-number-input-unloaded{
	display: inline;
}
.custom-number-input-unloaded input[type="number"]{
	height: 1.5em;
	width: 3em;
	text-align: center;
	font-size: 110%;
}
.custom-number-input-unloaded input[type="button"]{
	display: none;
}

.custom-number-input::before{
	display: inline-block;
	height: 3em;
	vertical-align: middle;
}
.custom-number-input{
	display: inline-block;
}

.custom-number-input *{
	height: 3em;
	box-sizing: border-box;
	
	border-color: lightgray;
	border-width: 1px;
	vertical-align: middle;

}
.custom-number-input input[type="number"]{
	width:	4em;
	text-align: center;
	border-style: outset;
	border-right:none;
	border-left:none;

	-moz-appearance:textfield;
}

.custom-number-input input[type="button"]{
	width:	3em; 
	background-size:1.4em;
	background-position: 0.8em;
	background-repeat: no-repeat;
	text-indent: -99999999rem;
}
.custom-number-input input[type="button"].left{	
	border-right: none;
	background-image: url("../icon/minus.png");
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.custom-number-input input[type="button"].right{	
	border-left: none;
	background-image: url("../icon/plus.png");
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#shop-submits{
	display: flex;
	flex-wrap: wrap;
}
#shop-submits button{
	flex: 1 10em;
}
#shop-submits button:enabled:hover{
	background-color: #25468d;
}

/*--------------------------------
	Carrello
--------------------------------*/

.articolo-carrello{
	margin: auto;
	max-width: max(400px,50%);

	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;

	border:solid;
	border-radius: 10px;
	border-width:1px;
}
.articolo-carrello .intestazione{
	font-size: 140%;
	font-weight: bold;
}
.articolo-carrello .corpo{
	text-indent: 1.5em;
}
.articolo-carrello .prezzo{
	text-align: right;
	margin-right: 1em;
	font-size: 120%;
}


#totale{
	max-width: max(400px,50%);
	margin: auto;
	margin-bottom: 10px;
}
#bottone-compra{
	display: block;

	width:100%;
	max-width: max(400px,50%);

	margin: auto;
	margin-bottom: 10px;
}
#bottone-compra:enabled:hover{
	background-color: #25468d;
}
/*--------------------------------
	Mappa
--------------------------------*/

#mappa{
	max-width: 90%;
	width: auto;
	height: auto;
	margin-left: 5%;
	margin-top: 2em;
}

#mappaNascosta{
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#desc{
	background-color: #A6C8F2;
	text-align: center;
	border: 3px solid #152b5a;
	color: #000;
	border-radius: 10px;
	width: 80%;
	margin: auto;
	margin-top: 1em;
	padding: 1em;
}

area.areaI{
	cursor: default;
}

/*--------------------------------
	Dashboard
--------------------------------*/

#gridA{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 2em;
	justify-items: center;
}

#gridA a{
	padding: 3em;
	margin-bottom: 5em;

	cursor: pointer;

	appearance:none;
	-webkit-appearance:none;

	border:none;
	background-color:#152b5a;
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:25%;
	text-decoration: none;
  
	vertical-align: middle;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

}


#gridA a:hover{
	background-color: #25468d;
}

/*--------------------------------
	modificaComprensorio
--------------------------------*/

fieldset:focus{
	outline:none;
}

#gridButtons{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 2em;
	justify-items: center;
}

#gridButtons button:not(#descButton){
	width: 80%;
}

#descButton{
	grid-column: 1 / span 2;
	padding: .3em;
	width: 45%;
}

#gridButtons button:hover{
	background-color: #25468d;
}

/*#form-comprensorio*/ fieldset{
	padding: 1em;
	margin: 1em;
	border: 2px solid #152b5a;
	border-radius: 10px;
}

#cambia-descrizione > *:not(legend){
	box-sizing: border-box;
}

#cambia-descrizione select,#cambia-descrizione label[for=numero-pista] {
	width : 40%;
	margin: .1em 30%;
}
#cambia-descrizione textarea,#cambia-descrizione label[for=nuova-descrizione] {
	width : 80%;
	margin: .1em 10%;
}

#cambia-descrizione textarea{
	min-height: 5em;
	padding: 2px;
	resize: vertical;
}
#cambia-descrizione input[type="submit"]{
	width: 15em;
	margin:.1em calc(50% - 7em);
}

input[type=submit],input[type=reset]{
	cursor: pointer;

	appearance:none;
	-webkit-appearance:none;
	
	/*padding:10px;*/
	border:none;
	background-color:#152b5a;
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:25%;
	height: 50px;
  
	vertical-align: middle;
}

input[type=submit]{
	margin-left: 15%;
}

input[type=reset]{
	margin-left: 20%;
}

input[type=submit]:hover,input[type=reset]:hover{
	background-color: #25468d;
}

input[type=submit]:disabled{
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;

	cursor: default;
}

/*=================		Come raggiungerci	==============================*/
div.categoriaArrivo{
	/*padding-top: .7em;*/
	padding: 1.3rem;
	margin:.5rem;
	border: 1px solid #152b5a;
	border-radius: 5px;
}

.categoriaArrivo a{
	display: block;
	text-align: center;

	appearance:none;
	-webkit-appearance:none;
	
	width: auto;
	margin-left:auto;
	margin-right: auto;
	max-width: 400px;

	padding-top:11px;
	margin-top:.7rem;

	border:none;
	background-color:#152b5a;
	color:#fff;
	font-weight:600;
	border-radius:4px;
	height: 25px;
}

.categoriaArrivo a:hover{
	background-color: #25468d;
}

h3#auto{
	background: no-repeat url(../icon/auto.png);
	background-size: contain;
	background-position: 10rem;
}

h3#bus{
	background: no-repeat url(../icon/icons8-autobus-60_nera.png);
	background-size: contain;
	background-position: 10rem;
}

h3#treno{
	background: no-repeat url(../icon/treno.png);
	background-size: contain;
	background-position: 10rem;
}

h3#aereo{
	background: no-repeat url(../icon/aereo.png);
	background-size: contain;
	background-position: 10rem;
}
/*--------------------------------
	Modifica Prezzi
--------------------------------*/

#tabella-prezzi{
	max-width: 40em;
}
#tabella-prezzi tr{
	height: 3em;
}
#tabella-prezzi th, #tabella-prezzi #blank-corner{
	background-color: #CCC;
}
#tabella-prezzi td{
	background-color: white;
}

#form-mod{
	max-width:30em;
	margin: auto;
}

#form-mod div{
	padding-bottom: .5em;
}
#form-mod label{
	box-sizing: border-box;
	display: inline-block;
	width:20%;
	text-align: right;
	padding-right: .5em;
}
#form-mod select, #form-mod input[type="number"]{
	box-sizing: border-box;
	border: 0;
	box-shadow: 0 0 15px 4px rgb(0 0 0 / 20%);
	width: 60%;
	
	padding: .5em;
	background: white;
}
#form-mod input[type="submit"]{
	box-sizing: border-box;
	display: block;
	width: 60%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

#feedback-mod-prez{
	text-align: center;
}






/*--------------------------------
	Footer
--------------------------------*/
a.linkScroll{
	display: block;
	position: fixed;
	bottom: 7em;
	left: .7rem;
	width: 3.5rem;
	height: 3.5rem;

	padding: .3rem;
	background-color: #152b5a;
	border-radius: .25rem;
	color: #cee9ff;

	background-image: url(../icon/icons8-thick-arrow-pointing-up-48.png);
    background-repeat: no-repeat;
	background-size: 48px;

    text-indent: -999999em;
    background-position: center;

	transform: translateX(-120%);
	transition: transform .325s;
	z-index: 1;
}

a.linkScroll.active, a.linkScroll:focus{
	transform: translateX(0);
}

a.linkScroll:focus{
	border-color: rgb(253, 137, 60);
	border-style: solid;			
}

footer{
	background-color: #62a9ec;


	clear: both;
	text-align: center;
	font-size: 0.8em;
	border-top: 1px solid #000;
	padding: 1em;
	/*height: 1em;*/

	vertical-align:middle;
}

footer div{
	display: inline-flex;
	padding: 1em;
}

footer div p{
	padding: .5em;
}

footer a, #desc a{
	color:#000068;
}

#desc a:visited{
	color:#35006b;
}

img.imgValidCode{
	max-height: 2.5em;
	width: auto;
	height: auto;
}

/*================================		404		===================================*/
div.notFound{
	padding-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	vertical-align: middle;
}
img.notFound{
	width: 6rem;
	vertical-align: middle;
}

span.notFound{
	vertical-align: middle;
}

h3.notFound{
	display: inline;
}

a.notFound{
	text-decoration: none;
	display: block;

	appearance:none;
	-webkit-appearance:none;
	
	padding-top:20px;
	margin-top:.7rem;
	margin-left:auto;
	margin-right:auto;

	border:none;
	background-color:#152b5a;
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:20%;
	height: 35px;
}

a.notFound:hover{
	background-color: #25468d;
}


