:root {
	--grigietto: #cee9ff;
	--nero: #000000;
	--bianco: #FFFFFF;
	--blu: #152b5a;
	--blu1: #25468d;
	--azz1: #4da5e0;
	--azz2: #62a9ec;
}

* {
	padding: 0;
	margin: 0;
}

html{
	font-size: 100%;
	font-family: "Helvetica", sans-serif;
	margin: auto;
	background-color: var(--grigietto);
	/*max-width: 1024px;*/
	scroll-behavior: smooth;
	height: 100%;
	
	/*NON FUNZIONA*/
	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}


}

body{
	color : var(--nero);
	background: center / cover no-repeat url("../img/funiviaSfondo.jpg");
	min-height: calc(100% - 2.5em);

	padding-bottom: 2.5em;
}
/*#content{
	min-height: 100% ;
}*/

.error-message{
	color: darkred;
}

.success-message{
	color: darkgreen;
}

/*--------------------------------
	Header, navbar e breadcrumb
--------------------------------*/
a.skip-nav{
	position: absolute;
	left: 5px;
	transform: translateY(-120%);
	padding: .5rem;
	border-radius: 0 0 .25rem .25rem;
	background-color: black;
	transition: transform 325ms;
	color: var(--grigietto);
}

a.skip-nav:focus{
	transform: translateY(0);
}

header{
    text-align: center;
	background-color: var(--grigietto);
	/*position: sticky;
	top: 0;*/
}

header h1{
	padding: .7rem;
	font-family: "Bradley Hand ITC",sans-serif ;
	transform: rotate(5deg);
    width: 80%;
    margin: auto;
}

#sticky{
	position:-webkit-sticky;
	position: sticky;
	top: 0;
	margin-bottom:1em;
	box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.2);
}

#menu{
	box-sizing: border-box;

	display:flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.1em;
	background-color:var(--azz1);

	
}

#menu h2{
	text-indent: -99999999999em;
	display: block;
	overflow: hidden;
	background-image: url("../icon/icons8-mountain-96.png");
	background-repeat: no-repeat;
	background-size: 75px;
	background-position: center center;

	width: 90px;
	height: 90px;

}

#menu ul{
	display:flex;
	align-items: center;

	width: 100%;
	height: 100%;
}

#menu ul li{
	display: block;
	list-style:none;
}


#menu ul li a{
	text-decoration: none;
	text-align: center;
	padding: .6em;
	display: flex;
	color: var(--nero);
	height: 2.5em;
	justify-content: center;
	align-items: center;
	border: solid #152b5a;
	border-radius: 10px;
	margin: 0 .2em 0;
	background-color: var(--azz1);
}

#menu ul li a:visited{
	border: none;
	color: var(--blu);
	background-color: var(--azz2);
}


/* Links del menu*/
#menu a.active{
	background-color: var(--blu);
	color: white;
}

#menu a:hover:not(.active) {
	background-color: #c6e4ff;
}

/* Allinea a destra Login e Dashboard */
#menu li.right{
	margin-left: auto;
}


.pulsanteMenu{
	cursor: pointer;
	position: absolute;
	top: .8rem;
	right: 1rem;
	display: none;
	width: 50px;
	height: 50px;
}

.pulsanteMenu span.barra{
	height: 6px;
	width: 100%;
	background-color: var(--nero);
	border-radius: 10px;
	display: block;
	margin: 10px 0px 10px;
}

#menu ul.active{display: flex;}


#breadcrumb{
	margin: 0;
    font-size: 1.1em;
	padding: 0.3em 1.3em;
	background-color:var(--bianco);
	color:var(--nero);
	text-align: left;
}

#breadcrumb a:link{
	color: var(--blu1);
}

#breadcrumb a:visited{
	color: var(--blu);
}

/*=======================
	Generali
=======================*/
ol > li{
	margin-left:2em;
}

#content{
	margin:auto;
	max-width: 1264px;
	

	margin-top: -8em;
	padding: 8em 3em 1em;

	box-shadow:0 0 15px 4px rgba(0,0,0,0.2);

	background: var(--grigietto);


}

#content>p{
	padding: 10px;;
}


.pageTitle{
	margin:auto;
	text-align: center;
	font-weight: bold;
}
.centerImg {
	display: block;
	margin: auto;
	width: 70%;
}

img{
	max-width: 90%;
	width: auto;
	height: auto;
}

figcaption.centerImg {
	margin: auto;
	width: 70%;
	padding: 5px;
	font-weight: lighter;
	font-size: 0.9em;
}

/*--------------------------------
	Home
--------------------------------*/
.homeTextElement{
	background-color: var(--azz1);
	text-align: center;
	border: 3px solid var(--blu);
	color: #FFF

}

blockquote {
	background: var(--azz1);
	border-left: 10px solid var(--blu);
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: var(--blu);
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

#gridHome{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"r1c1 r1c2 r1c3 r1c4"
		"r2c1 r2c2 r2c3 r2c4"
		"r3c1 r3c2 r3c3 r3c4";
	grid-gap: 35px;
	justify-content: center;
	margin: 2rem;
}

#grid1Text{
	grid-column: r1c1/r1c2;
	grid-row: 1;
	margin: auto;

	border-radius: 1000px;
	padding: 2em;
}

#grid1Img{
	grid-column: r1c3/r1c4;
	grid-row: 1;
	margin: auto;
	width: 50%;
}

#grid2Text{
	grid-column: r2c3/r2c4;
	grid-row: 2;
	margin: auto;

	border-radius: 10px;
	padding: .7rem;
}

#grid2Img1{
	grid-column: r2c1 / r2c2;
	grid-row: 2;
	margin: auto;
}

#grid2Img2{
	/*grid-column: 3;
	grid-row: 2;*/
	margin: auto;
}

#grid3Text{
	grid-column: r3c1;
	grid-row: 3;
	margin: auto;

	border-radius: 1000px;
	padding: 3em;
	text-align: center;
}

#grid3Img{
	grid-column: r3c2/r3c4;
	grid-row: 3;
	margin: auto;
}


/*--------------------------------
	Login/Register/Forms
--------------------------------*/
.formInput{
	margin: 1.5em auto auto;
	text-align: center;
	width: 100%;
}

.formInput>p{
	margin-bottom: 0.7em;
}
.formInput label{
	font-size: 0.8rem;
	display: block;
	
}
input[type=text], input[type=password] {
	box-sizing: border-box;
	border:0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.2);

	width: 50%;
	padding: 0.5em;
	margin: 0.3rem 0 1rem;
}

/*
input[type=text]:hover{
	transition: .3s --grigietto;
}*/

input, button{
	font-size: inherit;
	font-family: inherit; 
}
button, input[type=button]{
	cursor: pointer;
}
button {
	/* Rimuove apparenza di default 
	*/appearance:none;
	-webkit-appearance:none;
	
	/*padding:10px;*/
	margin:10px;
	border:none;
	background-color:var(--blu);
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:50%;
	height: 50px;
  
	vertical-align: middle;
}

button:disabled{
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;

	cursor: default;
  
}
/*--------------------------------
	Logout
--------------------------------*/
.msgLogout{
	text-align: center;
	font-size: 2em;
	padding-top: 1em;
}
/*--------------------------------
	Tabelle
--------------------------------*/
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 0.5em;
}

th{
	background-color: var(--azz2);
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

table{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

/*--------------------------------
	Dettagli
--------------------------------*/
.pista{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
	border: 1px solid black;
	border-radius: 10px;
}

.pista h4{
	padding: 0.5em;
	font-size: 2em;
	border-bottom: 1px solid black;
	
	margin-top: -4em;
	padding-top: 4em;
}

.pista div{
	display: table-cell;
	padding: 0.5em;
}

.pista div.dati{
	width: 30%;
	border-right: 1px solid black;
}

.pista div.descrizione{
	width: 70%;
}

/*--------------------------------
	SHOP
--------------------------------*/

#link-carrello{
	text-align: right;
	display: block;
}

#form-shop{
	margin: auto;
	max-width: max(400px,50%);
}


#radio-group-durata{
	text-indent: 1em;
	margin-bottom: 1em;
}

#form-shop fieldset{
	padding: .5em;
	margin-bottom: .5em;
	
	border-radius: 15px;
	border-style: inset;
	border-width: 2px;
}
#form-shop legend{
	margin-left: 1em;
}

#fs_num_skip>div{
	margin: .5em 0 .5em 0;
}
#fs_num_skip label{
	display: inline-block;
	width: 4em;
}

.custom-number-input-unloaded{
	display: inline;
}
.custom-number-input-unloaded input[type="number"]{
	height: 1.5em;
	width: 3em;
	text-align: center;
	font-size: 110%;
}
.custom-number-input-unloaded input[type="button"]{
	display: none;
}

.custom-number-input::before{
	display: inline-block;
	height: 3em;
	vertical-align: middle;
}
.custom-number-input{
	display: inline-block;
}

.custom-number-input *{
	height: 3em;
	box-sizing: border-box;
	
	border-color: lightgray;
	border-width: 1px;
	vertical-align: middle;

}
.custom-number-input input[type="number"]{
	width:	4em;
	text-align: center;
	border-style: outset;
	border-right:none;
	border-left:none;

	-moz-appearance:textfield;
}

.custom-number-input input[type="button"]{
	width:	3em; 
	background-size:1.4em;
	background-position: 0.8em;
	background-repeat: no-repeat;
	text-indent: -99999999rem;
}
.custom-number-input input[type="button"].left{	
	border-right: none;
	background-image: url("../icon/minus.png");
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.custom-number-input input[type="button"].right{	
	border-left: none;
	background-image: url("../icon/plus.png");
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#shop-submits{
	display: flex;
	flex-wrap: wrap;
}
#shop-submits button{
	flex: 1 10em;
}

/*--------------------------------
	Carrello
--------------------------------*/

.articolo-carrello{
	margin: auto;
	max-width: max(400px,50%);

	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;

	border:solid;
	border-radius: 10px;
	border-width:1px;
}
.articolo-carrello .intestazione{
	font-size: 140%;
	font-weight: bold;
}
.articolo-carrello .corpo{
	text-indent: 1.5em;
}
.articolo-carrello .prezzo{
	text-align: right;
	margin-right: 1em;
	font-size: 120%;
}


#totale{
	max-width: max(400px,50%);
	margin: auto;
	margin-bottom: 10px;
}
#bottone-compra{
	display: block;

	width:100%;
	max-width: max(400px,50%);

	margin: auto;
	margin-bottom: 10px;
}

/*--------------------------------
	Mappa
--------------------------------*/

#mappa{
	max-width: 90%;
	width: auto;
	height: auto;
	margin-left: 5%;
	margin-top: 2em;
}

#mappaNascosta{
	display: none;
}

/*--------------------------------
	Dashboard
--------------------------------*/

#gridA{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 2em;
	justify-items: center;
}

#gridA a{
	padding: 3em;
	margin-bottom: 5em;

	cursor: pointer;

	appearance:none;
	-webkit-appearance:none;

	border:none;
	background-color:var(--blu);
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:25%;
	text-decoration: none;
  
	vertical-align: middle;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

}


#gridA a:hover{
	background-color: var(--blu1);
}

/*--------------------------------
	modificaComprensorio
--------------------------------*/

#gridButtons{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 2em;
	justify-items: center;
}

#gridButtons button{
	width: 80%;
}

#gridButtons button:hover{
	background-color: var(--blu1);
}

#form-comprensorio fieldset{
	padding: 1em;
	margin: 1em;
	border: 2px solid black;
	border-radius: 10px;
}

input[type=submit],input[type=reset]{
	cursor: pointer;

	appearance:none;
	-webkit-appearance:none;
	
	/*padding:10px;*/
	border:none;
	background-color:var(--blu);
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:25%;
	height: 50px;
  
	vertical-align: middle;
}

input[type=submit]{
	margin-left: 15%;
}

input[type=reset]{
	margin-left: 20%;
}

input[type=submit]:hover,input[type=reset]:hover{
	background-color: var(--blu1);
}

/*--------------------------------
	Footer
--------------------------------*/
a.linkScroll{
	display: block;
	position:-webkit-sticky;
	position: fixed;
	bottom: 3em;
	left: .7rem;
	width: 3.5rem;
	height: 3.5rem;

	padding: .3rem;
	background-color: var(--blu);
	border-radius: .25rem;
	color: var(--grigietto);

	background-image: url(../icon/icons8-thick-arrow-pointing-up-48.png);
    background-repeat: no-repeat;
	background-size: 48px;

    text-indent: -999999em;
    background-position: center;

	transform: translateX(-120%);
	transition: transform .325s;
}

a.linkScroll.active{
	transform: translateX(0);
}

a.linkScroll:focus{
	border-color: rgb(253, 137, 60);
	border-style: solid;
}

footer{
	background-color: var(--grigietto);


	clear: both;
	text-align: center;
	font-size: 0.8em;
	border-top: 1px solid #000;
	padding: 1em;
	height: 1em;

	position: fixed;
	bottom: 0px;
	width: 100%;

	vertical-align:middle;
}

/*================================		404		===================================*/
div.notFound{
	padding-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	vertical-align: middle;
}
img.notFound{
	width: 6rem;
	vertical-align: middle;
}

span.notFound{
	vertical-align: middle;
}

h3.notFound{
	display: inline;
}

a.notFound{
	display: block;

	appearance:none;
	-webkit-appearance:none;
	
	padding-top:20px;
	margin-top:.7rem;
	margin-left:auto;
	margin-right:auto;

	border:none;
	background-color:var(--blu);
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:20%;
	height: 35px;
}


