* {
	padding: 0;
	margin: 0;
}

html{
	font-size: 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: auto;
	/*max-width: 1024px;*/
}


.error-message{
	color: red;
	
}

/*--------------------------------
	Header, navbar e breadcrumb
--------------------------------*/
header{
    text-align: center;
}

header h1{
	padding: 1em;
}

#sticky{
	position:-webkit-sticky;
	position: sticky;
	top: 0;
}

#menu{
	font-size: 1.1em;
	background-color:cyan;
	display: flow-root;
}

#menu a{
	padding: 1.3em;
	float: left;
}

#menu a.active{
	background-color: darkcyan;
	color: white;
}

#menu a.right{
	float: right;
}

@media screen and (max-width: 1090px) {
	#sticky {position: inherit;}
	#menu {display: grid; text-align: center;}
}

/* nel caso la nav bar si volesse fare con ul e li

#menu ul{
    margin: 0;
    padding: 1em;
    list-style-type: none;
}

#menu ul li{
    float: left;
	display: block;
	padding: 14px;
}

#menu ul li.right{
	float: right;
}

#menu li a {
    display: block;
    text-align: center;
    padding: 14px;
}*/

#breadcrumb{
	margin: 0;
    font-size: 1.1em;
	padding: 0.3em 1.3em;
	background-color:cadetblue;
	color:black;
}

#breadcrumb a:link{
	color: #D8D8D8;
}

#breadcrumb a:visited{
	color: #F2F5A9;
}

/*--------------------------------
	Tabelle
--------------------------------*/
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

table{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

/*--------------------------------
	Dettagli
--------------------------------*/
.pista{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
	border: 1px solid black;
	border-radius: 10px;
}

.pista h4{
	padding: 0.5em;
	font-size: 1.1em;
	border-bottom: 1px solid black;
}

.pista div{
	display: table-cell;
	padding: 0.5em;
}

.pista div.dati{
	width: 30%;
	border-right: 1px solid black;
}

.pista div.descrizione{
	width: 70%;
}

/*--------------------------------
	SHOP
--------------------------------*/

#link-carrello{
	text-align: right;
	display: block;
}

#form-shop{
	margin: auto;
	max-width: max(400px,50%);
}


#radio-group-durata{
	text-indent: 1em;
	margin-bottom: 1em;
}

#form-shop fieldset{
	padding: .5em;
}


#fs_num_skip>div{
	margin: .5em 0 .5em 0;
}
#fs_num_skip label{
	display: inline-block;
	width: 4em;
}

.custom-number-input-unloaded{
	display: inline;
}
.custom-number-input-unloaded input[type="number"]{
	height: 1.5em;
	width: 3em;
	text-align: center;
	font-size: 110%;
}
.custom-number-input-unloaded input[type="button"]{
	display: none;
}

.custom-number-input::before{
	display: inline-block;
	height: 3em;
	vertical-align: middle;
}
.custom-number-input{
	display: inline-block;
}

.custom-number-input *{
	height: 3em;
	box-sizing: border-box;
	
	border-color: lightgray;
	border-width: 1px;
	vertical-align: middle;

}
.custom-number-input input[type="number"]{
	width:	4em;
	text-align: center;
	border-style: outset;
	border-right:none;
	border-left:none;
}
.custom-number-input input[type="button"]{
	width:	3em; 
	background-size:1.4em;
	background-position: 0.8em;
	background-repeat: no-repeat;
}
.custom-number-input input[type="button"].left{	
	border-right: none;
	background-image: url("img/minus.png");
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.custom-number-input input[type="button"].right{	
	border-left: none;
	background-image: url("img/plus.png");
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}


/*--------------------------------
	Carrello
--------------------------------*/

.articolo-carrello{
	margin: auto;
	max-width: max(400px,50%);

	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;

	border:solid;
	border-radius: 10px;
	border-width:1px;
}
.articolo-carrello .intestazione{
	font-size: 140%;
	font-weight: bold;
}
.articolo-carrello .corpo{
	text-indent: 1.5em;
}
.articolo-carrello .prezzo{
	text-align: right;
	margin-right: 1em;
	font-size: 120%;
}


/*--------------------------------
	Mappa
--------------------------------*/

img{
	max-width: 90%;
	width: auto;
	height: auto;
	margin-left: 5%;
	margin-top: 2em;
}

/*--------------------------------
	Dashboard
--------------------------------*/

#gridA{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 2em;
    width: 80%;
    margin: auto;
}

#gridA a{
	padding: 5em;
}

/*--------------------------------
	modificaComprensorio
--------------------------------*/

#gridButtons{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 2em;
    width: 80%;
    margin: auto;
}

button{
	padding: 5em;
}

#piste-chiuse,#piste-aperte,#impianti-chiusi,#impianti-aperti{
	display: none;
}

/*--------------------------------
	Footer
--------------------------------*/
footer{
	clear: both;
	text-align: center;
	font-size: 0.8em;
	border-top: 1px solid #000;
	padding: 0.5em;
}



